
@media (max-width: 896px) {
  .mobile-only {
    display: block;
  }

  .desktop-only {
    display: none;
  }
  
  main {
    padding: 1rem;
    flex-direction: column;
    background-image: url('../images/bg-pattern-mobile.svg');
    background-repeat: no-repeat;
    background-size: 80%;
    background-position-x: center;
    justify-content: flex-start;
  }

  section {
    margin-bottom: -18vw;
  }

  h1 {
    text-align: center;
  }

  p, h1{
    margin-bottom: 1rem;
  }

  #left-section {
    display: flex;
    justify-content: center;
  }


  #left-section img {
    width: 80%;
    position: relative;
    top: -67%;
  }

  #faq {
    min-width: 100%
  }

  footer{ 
    text-align: center;
    font-size: 0.75rem;
  }
}